@use "../sass/variables.scss" as var;

%link {
  display: inline-flex;
  align-items: center;
  gap: 0.5rem;

  width: max-content;
  padding-inline: 1rem;
  padding-block: 0.75rem;

  color: var.$primary-light-color;
  text-decoration: none;

  border-bottom: 3px solid transparent;
  transition: border-color 0.3s;

  cursor: pointer;

  img,
  svg {
    height: 1.75rem;
    width: 1.75rem;
  }

  &:hover {
    border-bottom: 3px solid var.$primary-accent-color;
  }

  &.active {
    cursor: default;
  }
}

%max-width-container {
  max-width: var.$max-width;
  margin: auto;
}
