$font-stack: "Poppins", sans-serif;
$primary-light-color: #fff;
$secondary-light-color: #c4c2c3;
$primary-accent-color: #cb271b;
$secondary-accent-color: #821310;
$primary-dark-color: #000;
$secondary-dark-color: #0b0b0b;
