<header class="header">
  <div class="max-width-container">
    <div class="header-content">
      <app-logo-link></app-logo-link>

      <nav class="main-navbar">
        <app-main-menu *ngIf="!isRoot && !isAuth"></app-main-menu>

        <div class="spacer"></div>

        <div class="aside-links">
          <app-filters-button
            *ngIf="!isRoot && !isAuth"
            (toggleFiltersDisplay)="toggleFiltersDisplay()"
            (closeFiltersDisplay)="closeFiltersDisplay()"
          ></app-filters-button>
          <app-auth-menu></app-auth-menu>
        </div>
      </nav>
    </div>
  </div>

  <app-filters [isOpen]="isFiltersDisplay && !isRoot && !isAuth"></app-filters>
</header>
