@use "../../../sass/variables.scss" as var;
@use "../../../sass/extends.scss";

.max-width-container {
  @extend %max-width-container;
}

.filters {
  background-color: var.$primary-accent-color;

  max-height: 0;
  padding-block: 0.5rem;

  transform: scaleY(0);
  transform-origin: top;
  transition: transform 0.3s, max-height 0.6s;

  &.show-filters {
    max-height: 5rem;
    transform: scaleY(1);
  }

  .form {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    align-items: center;

    .form-search,
    .form-date {
      padding-left: 2rem;
      padding-right: 0.5rem;
      padding-block: 0.35rem;

      font-size: inherit;

      border: none;
      border-radius: var.$primary-button-border-radius;
    }

    .form-search {
      flex-grow: 1;
    }

    .form-date {
      min-width: 12.25rem;
      margin-right: 0.75rem;
    }
  }
}
