@use "../../../sass/variables.scss" as var;
@use "../../../sass/extends.scss";

.max-width-container {
  @extend %max-width-container;
}

.filters {
  background-color: var.$primary-accent-color;

  max-height: 0;
  padding-block: 0.5rem;

  transform: scaleY(0);
  transform-origin: top;
  transition: transform 0.3s, max-height 0.6s;

  &.show-filters {
    max-height: 15rem;
    transform: scaleY(1);
  }

  .forms {
    display: flex;

    flex-wrap: wrap;
    gap: 1rem;
    align-items: center;

    padding-inline: 0.25rem;

    app-search-filter {
      flex-grow: 1;
    }

    app-year-picker {
      margin-right: 0.75rem;
    }

    @media screen and (min-width: var.$media-min-width) {
      padding-inline: 0;
    }
  }
}
