@use "../../../../sass/variables.scss" as var;

.card {
  position: relative;
  height: 100%;
  max-width: var.$movie-card-max-height / 1.5;

  text-decoration: none;
  color: var.$primary-light-color;

  &:hover {
    cursor: pointer;

    .card-title {
      opacity: 1;
    }
  }

  .card-img {
    height: 100%;
    aspect-ratio: 3/4;

    width: 100%;
    min-width: var.$movie-card-min-width;

    object-fit: cover;
    object-position: top;

    transition: filter 0.3s;
  }

  .card-title {
    position: absolute;
    bottom: 0;

    width: 100%;
    padding: 1rem;

    text-transform: capitalize;
    font-size: 2rem;

    background-color: var.$primary-accent-color;
    opacity: 0.8;
    transition: opacity 0.3s;
  }
}
