@use "../../../../sass/variables.scss" as var;

.card {
  $padding-block: 0.5rem;
  $line-height: 2rem;
  $font-size: 1.25rem;
  $title-height: calc($line-height + $padding-block * 2);

  position: relative;
  height: 100%;
  max-width: calc(var.$movie-card-max-height / 1.5);

  text-decoration: none;
  color: var.$primary-light-color;

  overflow: hidden;

  &:hover {
    cursor: pointer;
    transition: all 0.3s;

    .wrapper {
      min-height: 100%;
      max-height: 40rem;
      top: 5.25rem;

      .title {
        margin-bottom: 0.5rem;
      }

      .year,
      .description {
        opacity: 1;
      }
    }
  }

  .img {
    height: 100%;
    aspect-ratio: 3/4;

    width: 100%;
    min-width: var.$movie-card-min-width;

    object-fit: cover;
    object-position: top;

    transition: filter 0.3s;
  }

  .wrapper {
    position: absolute;
    top: calc(100% - $title-height);

    max-height: $title-height;
    width: 100%;
    padding-block: $padding-block;
    padding-inline: calc($padding-block * 2);

    background-color: var.$primary-dark-transparent-color;
    transition: all 0.3s;
  }

  .title {
    width: 100%;
    margin: 0;

    font-size: $font-size;
    line-height: $line-height;
    text-transform: capitalize;

    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  .year {
    opacity: 0;

    display: flex;
    align-items: center;

    padding: 0;
    margin: 0;

    font-weight: 700;
    font-size: 1rem;
    line-height: 1rem;

    svg {
      position: relative;
      top: -0.1rem;

      height: 1.25rem;
      width: auto;
      margin-right: 0.5rem;

      color: var.$primary-accent-color;
    }
  }

  .description {
    opacity: 0;
  }
}
