@use "../../../../sass/variables.scss" as var;
@use "../../../../sass/extends.scss";

.auth-menu {
  display: inline-flex;
  gap: 2px;

  height: 100%;

  .link {
    @extend %link;

    &.sign-in-link {
      padding-inline: 0;

      &.active {
        background-color: var.$primary-dark-color;
        border-bottom: 3px solid var.$primary-accent-color;
      }

      &::before,
      &::after {
        content: "";

        margin-right: 0.25rem;
        width: 2px;
        height: 100%;

        background-color: var.$secondary-light-color;
      }

      &::after {
        margin-right: 0;
        margin-left: 0.25rem;
      }
    }

    &.button-link {
      position: relative;

      width: var.$button-width;
      min-width: min-content;

      align-self: center;
      height: fit-content;

      margin-inline: 0.75rem;
      padding-inline: 1.5rem;
      padding-block: 0.25rem;

      border: none;

      &::before {
        position: absolute;
        top: 0;
        left: 0;
        z-index: -10;

        content: "";

        width: 100%;
        height: 100%;

        background-color: var.$primary-accent-color;
        border-radius: var.$primary-button-border-radius;

        transition: transform 0.3s;
      }

      &:hover::before {
        transform: scaleX(1.05);
        border: none;
      }
    }
  }
}
