@use "../sass/extends.scss";

.wrapper {
  display: flex;
  flex-direction: column;

  app-header {
    margin-bottom: 0.5rem;
  }

  main {
    flex-grow: 1;
  }

  .max-width-container {
    @extend %max-width-container;
  }
}
