@use "../sass/extends.scss";

.wrapper {
  display: flex;
  flex-direction: column;

  main {
    flex-grow: 1;
  }

  min-height: 100dvh;

  .max-width-container {
    @extend %max-width-container;
  }
}
