<header class="header">
  <a
    routerLink="/"
    routerLinkActive="active"
    [routerLinkActiveOptions]="{ exact: true }"
    class="logo"
  >
    <app-logo></app-logo>
  </a>
  <nav class="main-nav">
    <app-main-menu></app-main-menu>
    <div class="link">Filters</div>
    <a
      routerLink="/sign-in"
      routerLinkActive="active"
      class="link sign-in-link"
    >
      Login
    </a>
    <a routerLink="/sign-up" routerLinkActive="active" class="link button-link">
      Start your free trial
    </a>
  </nav>
</header>

<main>
  <h1>{{ title }}</h1>
  <router-outlet></router-outlet>
</main>
<footer>footer</footer>
