@use "../sass/extends.scss";
@use "../sass/variables.scss" as var;

.wrapper {
  display: flex;
  flex-direction: column;

  main {
    flex-grow: 1;
    background-color: var.$secondary-dark-color;
  }

  min-height: 100dvh;

  .max-width-container {
    @extend %max-width-container;
  }
}
