<div class="movies">
  <h2 class="title">Popular {{ programType }}</h2>
  <section class="cards">
    <a
      *ngFor="let movie of moviesToDisplayOnPage"
      routerLink="{{ '/' + movie.title.split(' ').join('_') }}"
    >
      <app-movie-card [movie]="movie"></app-movie-card>
    </a>
  </section>
</div>

<p-paginator
  (onPageChange)="onPageChange($event)"
  [rows]="perPage"
  [totalRecords]="totalPages"
  [showFirstLastIcon]="false"
  [first]="currentPage * perPage"
  styleClass="paginator"
></p-paginator>
