<div class="form-date">
  <div (click)="openDatepickerOnClick(picker)">
    <svg
      xmlns="http://www.w3.org/2000/svg"
      fill="none"
      viewBox="0 0 24 24"
      stroke-width="1.5"
      stroke="currentColor"
    >
      <path
        stroke-linecap="round"
        stroke-linejoin="round"
        d="M6.75 3v2.25M17.25 3v2.25M3 18.75V7.5a2.25 2.25 0 012.25-2.25h13.5A2.25 2.25 0 0121 7.5v11.25m-18 0A2.25 2.25 0 005.25 21h13.5A2.25 2.25 0 0021 18.75m-18 0v-7.5A2.25 2.25 0 015.25 9h13.5A2.25 2.25 0 0121 11.25v7.5"
      />
    </svg>
  </div>

  <input
    matInput
    [matDatepicker]="picker"
    [formControl]="date"
    (click)="openDatepickerOnClick(picker)"
    (focus)="openDatepickerOnFocus(picker)"
    formControlName="yearFilter"
    autocomplete="off"
    (input)="log()"
    placeholder="1920-2000"
  />
  <mat-datepicker
    #picker
    startView="multi-year"
    (yearSelected)="yearSelectedHandler($event, picker)"
    [calendarHeaderComponent]="header"
  ></mat-datepicker>
</div>
